body {
  margin: 0;
  padding: 0;
}

header {
  height: 100vh;
  line-height: 15px;
  font-size: 15px;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}
.tool-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  flex-shrink: 0;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 2px solid black;
}
.main {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: flex-start;
}
.main a {
  text-decoration: none;
  color: #000;
}

.tool-bar {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
}
.tool-bar img,
a {
  height: 20px;
  width: 20px;
}
.div-fight {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fight-container {
  flex: 1;
  overflow: hidden;
}

.fight {
  align-items: center;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  padding: 10px 20px;
}

#fight-section {
  display: none;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-family: "Times New Roman", Times, serif;
}

.register__name {
  margin-bottom: 40px;
  font-size: 24px;
}

.input {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}
.character-name {
  font-size: 16px;
}

.input-name {
  box-sizing: border-box;
  border: 1px solid #3498db;
  border-radius: 5px;
  padding: 5px;
  width: 206px;
  height: 30px;
}
.button-create {
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 20px;
}

.button-create:hover {
  cursor: pointer;
}

/*-------- character section ---------*/

.character-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  width: 100%;
}

.character-info {
  display: flex;
  gap: 30px;
}

.avatar-image {
  border: 1px solid grey;
  border-radius: 15px;
  height: 350px;
  width: 300px;
  position: relative;
}

.avatar-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.avatar-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#edit-character {
  display: none;
}

.edit-character {
  align-items: center;
  background: #ffffff80;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.edit-character-btn {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.edit-character-btn img {
  font-size: 20px;
  height: 20px;
  width: 20px;
}

.avatar-result {
  display: flex;
  gap: 10px;
}

.avatar-result-wins {
  color: #008000;
}

.avatar-result-loses {
  color: #ff0000;
}

#character-section {
  display: none;
}

#popup {
  display: none;
}
.popup-container {
  align-items: center;
  background-color: #fff9;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.avatar-popup {
  align-items: center;
  background-color: #a2a0a0;
  border: 1px solid white;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  height: 50%;
  justify-content: center;
  padding: 40px 10px 10px;
  position: relative;
  width: 50%;
}
.close-modal:hover {
  cursor: pointer;
}
.close-modal {
  background-color: #fff;
  border: 1px solid white;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.avatar-content {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  height: 100%;
  overflow-y: auto;
  width: 100%;
}
.avatar-item img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.avatar-item {
  height: 200px;
  position: relative;
  width: 150px;
}

.avatar-edit {
  display: none;
}

.avatar-edit {
  align-items: center;
  background-color: #00000080;
  bottom: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  width: 100%;
}
.avatar-edit-btn {
  border: none;
  height: 40px;
  width: 40px;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 10px 20px;
}

.avatar-edit-btn img {
  height: 24px;
  width: 24px;
}
